#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DevWidgets
Exec=devwidgets %u
Icon=icon
Categories=Utility;Development;
